@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Sigmar&family=Ysabeau:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Sigmar&family=Space+Mono:wght@700&family=Ysabeau:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Sigmar&family=Space+Mono:wght@400;700&family=Ysabeau:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.alerta {
    font-size: 1rem;
    margin: 3% 0% 0% 7%;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    text-transform: uppercase;
}

.apresentacao {
    display: flex;
    margin: 8% 0% 0% 7%;
    gap: 100px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao img {
    width: 600px;
}

.apresentacao h2 {
    width: 586px;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -0.035em;
    line-height: 95px;
    font-family: 'Space Mono', monospace;
}

.apresentacao p {
    width: 381px;
    line-height: 36px;
    letter-spacing: -0.035em;
    font-weight: 400;
    font-size: 1.5rem;
    font-family: 'Space Mono', monospace;
}

.apresentacao a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    background-color: #333333;
    color: #FFF;
    padding: 22px 43px;
    width: 216px;
    font-size: .75rem;
}

.rodape p {
    margin: 8% 0% 0% 0%;
    color: #BDBDBD;
    font-weight: 700;
    font-size: .75rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
    .apresentacao {
        flex-direction: column;
    }

    .apresentacao img {
        width: 400px;
        margin: 10% 16%;
    }

    .apresentacao h2 {
        width: 550px;
        margin: 5% 8%
    }

    .apresentacao p {
        margin: 5% 8%;
    }

    .apresentacao a {
        margin: 5% 8%;
    }

    .rodape p {
        
        margin: 20% 0% 4% 25%;
    }
}